
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<table datatable  class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async">
            <td>{{p.nombre}}</td>
            <td>{{p.precio}}</td>
            <td>{{p.stock}}</td>
            <td>
                <a [routerLink]="['/admin/products/',p._id]">Editar</a>
            </td>
        </tr>
    </tbody>
</table>