<div *ngIf="product.nombre" class="card">
    <img  *ngIf="product.foto" [src]="product.foto" class="card-img-top" alt="{{ product.foto }}">
    <div class="card-body">
      <h5 class="card-title">{{product.nombre}}</h5>
      <p class="card-text">{{product.precio | currency: 'USD'}}</p>
     
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2">
           <button 
           (click)="addToCart(product)" 
           class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</div>
