<h1>Tiendas TangoCart</h1>
<div class="alert alert-primary" role="alert">
     
</div>
<form>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios"
             [(ngModel)]="template" [value]="Grupo1">
      <label class="form-check-label" for="materialUnchecked">TangoCart Grupo1</label>
    </div>
  
    <div class="form-check">
      <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
             [(ngModel)]="template" [value]="Grupo2">
      <label class="form-check-label" for="materialChecked">TangoCart Grupo2</label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
               [(ngModel)]="template" [value]="Grupo3">
        <label class="form-check-label" for="materialChecked">TangoCart Grupo3</label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
               [(ngModel)]="template" [value]="Grupo4">
        <label class="form-check-label" for="materialChecked">TangoCart Grupo4</label>
    </div>
   
    <div class="form-check">
        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
               [(ngModel)]="template" [value]="Grupo5">
        <label class="form-check-label" for="materialChecked">TangoCart Grupo5</label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
               [(ngModel)]="template" [value]="Grupo6">
        <label class="form-check-label" for="materialChecked">TangoCart Grupo6</label>
    </div>
 
    <div class="form-check">
        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
               [(ngModel)]="template" [value]="Grupo7">
        <label class="form-check-label" for="materialChecked">TangoCart Grupo7</label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios"
               [(ngModel)]="template" [value]="Grupo8">
        <label class="form-check-label" for="materialChecked">TangoCart Grupo8</label>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary"  (click)="getCheckboxesValue()" >Actualizar Conexión</button>
     </div>


  </form>

 