<div class="row">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div  class="form-group mb-3">
            <label for="title">Titulo</label>
            <input #nombre="ngModel" [(ngModel)]="this.Productservice.selectedProduct.nombre"  name="nombre" id="nombre" type="text" class="form-control" required>
            <div class="alert alert-danger mb-3" *ngIf="nombre.touched && nombre.invalid">
              Title is required.
            </div> 
          </div>   
        <div class="form-group mb-3">
            <label for="precio">Precio</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input #precio="ngModel"  [(ngModel)]="this.Productservice.selectedProduct.precio" name="precio" id="precio" type="number" class="form-control" required [min]="0" >
          </div>
          <div class="alert alert-danger" *ngIf="precio.touched && precio.invalid">
            Precio is required.
          </div> 
        </div>
        <div  class="form-group mb-3">
             <label for="descripcion">Descripción</label>
            <textarea #descripcion="ngModel"  [(ngModel)]="this.Productservice.selectedProduct.descripcion" name="descripcion" class="form-control" id="descripcion" rows="2" required></textarea>
            <div class="alert alert-danger" *ngIf="descripcion.touched && descripcion.invalid">
              Description is required.
            </div> 
        </div>  
        <div  class="form-group mb-3">
          <label for="category">Category</label>
          <select #categoria="ngModel" [(ngModel)]="this.Productservice.selectedProduct.categorias" name="categoria" id="categoria" class="form-control" required>
            <option value="this.Productservice.selectedProduct.categoria"></option>
            <option *ngFor="let c of categories$ | async" [value]="c.nombre">
              {{ c.nombre }}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="categoria.touched && categoria.invalid">
            Category is required.
          </div>
        </div> 
        <div  class="form-group mb-3">
          <label  for="stock">Stock</label>
          <input #stock="ngModel" [(ngModel)]="this.Productservice.selectedProduct.stock"  name="stock" id="stock" type="number" class="form-control" required [min]="0">
          <div class="alert alert-danger" *ngIf="stock.touched && stock.invalid">
            Stock is required.
          </div> 
        </div> 
        <div  class="form-group mb-3">
          <label for="foto" class="form-label">Foto</label>
          <input #foto="ngModel" [(ngModel)]="this.Productservice.selectedProduct.foto"  name="foto" id="foto" type="text" class="form-control">
              <div class="alert alert-danger mb-3" *ngIf="foto.touched && foto.invalid">
                Photo is required.
              </div> 
        </div>
        <button class="btn btn-primary">Save</button>
      </form>    
    </div>
    <div class="col-md-6">
      <div *ngIf="this.Productservice.selectedProduct.nombre" class="card" style="width: 20rem;">
          
          <img class="card-img-top" [src]="this.Productservice.selectedProduct.foto">
        <div class="card-body">
          <h2 class="card-title">{{this.Productservice.selectedProduct.nombre }}</h2>
          <p class="card-text">{{this.Productservice.selectedProduct.precio | currency:'USD' }}</p>
        </div>
      </div>
</div>

