<div class="card">
    <div class="card-body">
      <h5 class="card-title fs-2">Order Summary</h5>
      <p class="card-text">You have  <span class="badge bg-warning text-dark">
        {{currentItems}}
      </span>  in your shopping cart.</p>
      <ul class="list-group list-group-flush">
          <li *ngFor="let item of this.shopping?.items" class="list-group-item fw-bold">
           {{ item.cantidad }} x {{ item.nombre }}
           <div class="float-end">
            {{ item.cantidad * item.precio | currency: 'USD' }}
           </div>
          </li>
          <li  class="list-group-item fw-bold fs-6">
             Total 
            <div class="float-end">
              {{ total  + (total*0.1)| currency: 'USD' }}
             </div>
          </li>
      </ul>
    </div>
  </div>
