<h1 class="fs-2" >Shipping</h1>

<div class="row">
  <div class="col-6">
    <form #f="ngForm">
      <div class="row mb-3">
        <label for="">Name</label>
        <div class="col-sm-10">
        <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors?.required">Name is required.</div>
        </div>
       </div>
      </div>
      <div class="row mb-3">
        <label for="">Address</label>
        <div class="col-sm-10">
        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors?.required">Address Line 1 is required.</div>
        </div>
    </div>
      </div>
      <div class="row mb-3">
        <label for=""></label>
        <div class="col-sm-10">
        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
          <div *ngIf="addressLine2.errors?.required">Address Line 2 is required.</div>
        </div>
      </div>
      </div>
      <div class="row mb-3">
        <label for="">City</label>
        <div class="col-sm-10">
        <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors?.required">City is required.</div>
        </div>
       </div>
      </div>
      <div class="row mb-3">
        <label for="">Tipo de Envío</label>
        <mat-radio-group aria-label="Select an option" name="tipoEnvio" [(ngModel)]="tipoEnvio" required>
          <mat-radio-button value="Envío">Delivery</mat-radio-button>
          <mat-radio-button value="En Tienda">Retiro en Punto</mat-radio-button>
        </mat-radio-group>	
      </div>
      <div class="row mb-3">
        <div class="col-sm-10"> 
        <button 
         [disabled]="!f.valid"
        (click)="placeOrder()"
        class="btn btn-primary">Place Order</button>
      </div>
      </div>
    </form>
  </div>
  <div class="col-6">
    <shopping-cart-sumary></shopping-cart-sumary>
  </div>
</div>





