<h1>Shooping Cart</h1>
<ng-container>
    <p>
        You have  <span class="badge bg-warning text-dark">{{this.productos?.length}}</span> items in your shooping cart.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>SubTotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of productos">
                <td>
                   <div><img [style.backgroundImage]="'url('+ p.foto +')'" class="thumbnail" alt=""></div> 
                </td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.cantidad}}</td>
                <td>{{ p.precio  | currency: 'USD'}}</td>
                <td>{{ p.cantidad * p.precio | currency: 'USD' }}</td>
                <td><button mat-button color="warn" (click) ="deleteItem(p)"  >
                    <mat-icon>delete</mat-icon>
                </button></td>
            </tr>
        </tbody>
        <tfoot>
          <tr> 
              <td></td>
              <td><h1>Total</h1></td>
              <td></td>
              <td></td>
              <td> {{this.total + this.total*0.1 | currency: 'USD'  }} </td>
              <td></td>
          </tr>
        </tfoot>
    </table>
</ng-container>

<button *ngIf ="this.total != 0"  class="btn btn-primary" >Order</button>