<div class="container">
    <h1>My Perfil</h1>   
   <form #form="ngForm">
   <div class="row">
       <div class="col-md-5">
        <div class="center">
            <div class="card" style="width:20rem; height: 15;">
                <img src="../assets/logo/logo3.jpg" class="card-img-top">
                <div class="card-body">
                  <h3 class="card-title">{{ auth.currentUser[0].nombre }} {{auth.currentUser[0].apellido }}</h3>
                  <h4 class="card-title">{{ auth.currentUser[0].correo }}</h4>
                </div>
              </div>
            </div>
       </div>
       <div class="col-md-7">
           <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input disabled #nombre="ngModel" [(ngModel)]="auth.currentUser[0].nombre" name="nombre"   type="text" class="form-control" id="nombre" required >
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input disabled #apellido="ngModel" [(ngModel)]="auth.currentUser[0].apellido" name="apellido"  type="text" class="form-control" id="apellido" required>
        </div>
        <div class="mb-3">
            <label  class="form-label">Tipo</label>
            <input disabled #tipo="ngModel" [(ngModel)]="auth.currentUser[0].tipo" name="tipo" type="text"  class="form-control" id="apellido">
          </div>
        <div class="mb-3">
            <label class="form-label">Correo</label>
            <input disabled #correo="ngModel" [(ngModel)]="auth.currentUser[0].correo" name="correo" type="email"  class="form-control" id="correo">
        </div>
       </div>
   </div>
   </form>
   </div> 
