
<h1 style="background-color: beige;">Lista de deseos</h1>

<div>
    <div class="card" >
        <div class="card-header">
          Mi lista de Deseos
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor = "let p of this.array_lista_deseos; ">
            <!-- Product inside clients wishlist-->
            <div class="row">

              <div class=" col-md-3">
                <img src="{{p['foto']}}" alt="..." width="200" height="200" class="img-thumbnail">
                
              </div>

              <div class="col-4">
                <h1>{{p['nombre']}}</h1>
                <h1>Stock: {{p['stock']}}</h1>
                <h1>Precio: {{p['precio']}}</h1>
                <button class="btn btn-danger" (click)="eliminar_de_wishlist(p['_id'])"> Remover</button>
              </div>
            </div>
          </li>
        </ul>
    </div>   
</div>