
<h1>Lista de deseos</h1>

<div>
    <div class="col-6">
        <h1 style="background-color: beige;">hola</h1>
    </div>

    <div class="card" >
        <div class="card-header">
          Mi lista de Deseos
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                  <img src="https://s3-us-east-2.amazonaws.com/proyecto-sa/fotos/91b76737-2973-4502-8ae3-4bc48776ea63.jfif" alt="..." 
                  width="200" height="200" class="img-thumbnail">
              </div>
              <div class="col-4">
                  Cras justo odio
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    
</div>